<div class="introduction">
    <div class="right">
        <h1>Collaborative Playlists.</h1>
        <p>Create a collaborative playlist and let you and your friends share your musical taste</p>

        <a href="/register">
            <button class="register-button">Create an account</button>
        </a>

        <a href="/login">
            <button class="register-button">Log In</button>
        </a>
    </div>

</div>
    
<div id="decorationCircle"></div>

<link rel="stylesheet" href="index.css">
<script src="/scripts/index.js"></script>