
<div class="container">
    <h1>Create a new playlist</h1>
    <form action="/playlists/new" method="post">
        <input type="text" maxlength="100" name="title" class="inputText" id="name" placeholder="Playlist's name" required>
        <input type="text" name="description" id="description" class="inputText" placeholder="Playlist's description" required>
        <input type="submit" value="Create new playlist">
    </form>
</div>

<link rel="stylesheet" href="newPlaylist.css">